<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit address</title>
    <style>
        div {
            float: left;
            margin-left: 5px;
        }

        .labels {
            line-height: 1.35;
        }

        .input {
            width: 250px;
            display: inline-block
        }

        .submit {
            margin-top: 5px;
        }
    </style>
</head>
<body>
<h1>Fill form to edit address</h1>

<h1 th:value="${address.getId()}"></h1>

<form action="#" method="post" th:action="@{/address/edit/}" th:object="${address}">
    <div class="labels">
        <label for="id">Id</label><br>
        <label for="address">Address</label><br>
        <label for="postCode">Post Code</label><br>
        <label for="country">Country</label><br>

        <input class="submit" type="submit" value="Edit"/>
    </div>

    <div>
        <input class="input" id="id" th:field="*{id}" th:value="${address.getId()}" type="text"/><br>
        <input class="input" id="address" th:field="*{address}" th:value="${address.getAddress()}" type="text"/><br>
        <input class="input" id="postCode" th:field="*{postCode}" th:value="${address.getPostCode()}" type="text"/><br>
        <input class="input" id="country" th:field="*{country}" th:value="${address.getCountry()}" type="text"/><br>
    </div>
    <br>
    <a href="/">Back</a>

</form>
</body>
</html>