<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All lectures</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h2>Welcome to our School database</h2>

<div th:switch="${lectures.size()}">
    <h3 th:case="1">We have <span th:text="${lectures.size()}"></span> lectures in our database</h3>
    <h3 th:case="*">We have <span th:text="${lectures.size()}"></span> lectures in our database</h3>
</div>

<div th:switch="${errorMsg}">
    <h4 th:case="null"></h4>
    <h4 th:case="*">Error: <span th:text="${errorMsg}"></span></h4>
</div>

<div th:switch="${msg}">
    <h4 th:case="null"></h4>
    <h4 th:case="*"><span th:text="${msg}"></span></h4>
</div>

<div th:switch="${lectures.size()}">
    <h5 th:case="0">There are no lecture</h5>

    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Range</th>
                <th>Max students</th>
                <th>Current students</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lecture : ${lectures}">
                <td th:text="${lecture.getId()}"></td>
                <td th:text="${lecture.getName()}"></td>
                <td th:text="${lecture.getRange()}"></td>
                <td th:text="${lecture.getMaxStudents()}"></td>
                <td th:text="${lecture.getStudents().size()}"></td>

                <td>
                    <form action="#" method="get" th:action="@{/lecture/edit/{id}(id=${lecture.getId()})}">
                        <input class="submit" type="submit" value="Edit"/>
                    </form>
                </td>

                <td>
                    <form action="#" method="post" th:action="@{/lecture/remove/{id}(id=${lecture.getId()})}">
                        <input class="submit" type="submit" value="Remove"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <br>
    <form action="#" method="get" th:action="@{/lecture/new}">
        <input class="submit" type="submit" value="Add"/>
    </form>

    <div>
        <a href="/">Back</a>
    </div>
</div>
</body>
</html>